body {
  background-color: #fff6e6;
  margin: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 140px;
  font-family: serif;
  text-transform: lowercase;
  font-weight: normal;
  color: #8a7654;
  background-image: url("images/banner.jpg");
  height: 170px; /* background image height */
  box-sizing: border-box;
  margin: 35px 0px;
  border-top: 5px solid #8a7654;
  border-bottom: 5px solid #8a7654;
  padding: 32px 35px 0px; /* top padding = (height - font size) + 5 */
}

h1:hover {
  opacity: 0.75;
}

ul {
  background-color: #8a7654;
  position: relative;
  padding: 5px 35px;
}

li {
  font-size: 20px;
  font-family: serif;
  text-transform: uppercase;
  color: #fff6e6;
  list-style-type: none;
  display: inline;
  padding: 6px 15px; /* needs to be 6px or else a line at the bottom appears */
}

#cart {
  position: absolute;
  right: 35px;
  bottom: 0px;
  padding: 5px 15px;
}

li:hover {
  color: #8a7654;
  background-color: #fff6e6;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  margin: 30px 40px;
}

p {
  font-size: 20px;
  margin: 0px 40px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  margin-right: 30;
}

body {
  /* height: 100%; */
  margin-bottom: 50px; /* so footer does not cover content */
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #8a7654;
  width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #fff6e6;
  padding: 8px;
  color: #6b9696;
  font-size: 17px;
  border-width: 0px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: #e6dccc;
}

@media only screen and (min-width: 702px) {
  .noShow {
    display: block;
    visibility: visible;
  }
}

.noShow {
  display: block;
  visibility: visible;
}

.product {
    text-align: center;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 2%;
    /* border: 1px solid #000; for debugging */ 
    padding: 10px;
    box-sizing: border-box;
}
